.slider-container {
    width: 100vw;
    height: 100vh;
}
.mySwiper{
    background-color: rgba(83, 91, 242, 0.36);
}

.slide-content {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.cta-button {
    background: #ffd700;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}